MySQL username:root
MySQL Password:{{mysql_password.stdout}}


--- For Mattermost ---

DatabaseName:{{mattermost_db_name}}
Database Username:{{mattermost_db_user}}
Database Password:{{mattermost_db_password}}
